@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
    background-color: #f3f6f3;
}

body {
    margin: 0;
}

.svg-inline--fa {
    width: 1rem !important;
}
