body {
	height: 0px; /* hack for safari */

	margin: 0 auto;
	padding: 16px;
	max-width: 460px;

	display: grid;
	grid-template-columns: 5fr 3fr;
	grid-gap: 16px;
	background: #bdc7ca;
}

body > div {
	padding: 16px;

	border: 3px solid #fbfbfb;

	font-family: helvetica neue, sans-serif;
	color: #fbfbfb;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;

	grid-column: 1 / 3;
}

#bio {
	grid-column: 1 / 2;
}

#photo {
	grid-column: 2 / 3;
	padding: 0px;
}

img {
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid #fbfbfb;
}
