body {
	background-color: #FAFAFA;
	margin: 0;
	font-family: Menlo, monospace;
	font-size: 16px;
}

#container {
	margin: 48px;
}

.full {
	text-align: center;
	padding: 0 0 28px 0;
}

.box {
	background-color: #F0F0F0;
	border-radius: 4px;
	padding: 20px;
	margin: 24px;
	width: 172px;
	display: none;/* inline-block; */
	vertical-align: top;
	box-shadow: #E0E0E0 4px 4px;
}

#about-box { }

.words, .title {
	color: #A7A7A7;
	margin: 18px 0px;
	word-wrap: break-word;
}

.words { }

.title {
	font-style: italic;
	color: #757575;
	margin-top: 0px;
	font-weight: bold;
}

.link {
	font-size: inherit;
	font-family: inherit;
	font-weight: bold;
	color: #fafafa;
	background-color: #67db6d;
	padding: 4px 8px;
	margin: 4px 0px;
	border-radius: 4px;
	box-shadow: #57cb5d 0px 4px;
}

.box .link {
	display: inherit;
}

.link:hover {
	position: relative;
	top: 2px;
	box-shadow: #57cb5d 0px 2px;
	cursor: pointer;
}

.twitter {
	background-color: #78bdf8;
	box-shadow: #68ade8 0px 4px;
}

.twitter:hover {
	box-shadow: #68ade8 0px 2px;
}

a {
	text-decoration: none;
	color: inherit;
}

#logo {
	margin-bottom: -12px;
}

.image {
	height: 170px;
	width: 170px;
	border-radius: 5px;
	background-color: #e0e0e0;
}

#magic-canvas {
	z-index: -1;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#close-button {
	border: none;
	cursor: pointer;
	font-size: 16px;
	position: fixed;
	top: 15px;
	right: 15px;
	background-color: #e84545;
	padding: 0px 5px 1px 5px;
	box-shadow: #af3434 0px 4px;
	outline: none;
}

#close-button:hover {
	position: fixed;
	bottom: auto;
	top: 17px;
	box-shadow: #af3434 0px 2px;
}

mark {
	background-color: #FAFAFA;
	color: inherit;
}
