body {
	font-family: helvetica neue;
	margin: 60px;
	background-color: rgba(0, 0, 0, 0.01);
}

img {
	float: left;
	margin-right: 16px;
}

h1 {
	font-size: 16px;
}

a {
	display: block;
	color: inherit;
	margin: 16px 0;
}

svg {
	margin-right: 16px;
}

@media screen and (max-width: 500px) {
	img { display: none !important; }
}
