.blog {
  max-width: 48rem;
  padding: 1rem;
  margin: 0rem auto 4rem auto;
  overflow: hidden;
  line-height: 1.4;
}

.blog img {
  max-width: 100%;
  max-height: 20rem;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

hr {
  border-style: solid;
  border-width: 0 0 1px 0;
}

.link-back {
  text-align: center;
}
