.blog {
  max-width: 48rem;
  padding: 1rem;
  margin: 0rem auto 4rem auto;
  overflow: hidden;
  line-height: 1.4;
  view-transition-name: article;
}

.blog img {
  max-width: 100%;
  max-height: 20rem;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

hr {
  border-style: solid;
  border-width: 0 0 1px 0;
}

header, footer {
  text-align: center;
}

@media not (prefers-reduced-motion: reduce) {
  h1 {
    view-transition-name: title;
    display: inline-block;
  }

  .blog p:nth-child(1 of :has(img)) > img {
    view-transition-name: hero;
  }
}
