html {
  font-size: 100%;
  font-family: system-ui, sans-serif;
  --white: white;
  --black: black;
  --codebg: #e3e7e3;
  background-color: var(--white);
  color: var(--black);
}

::selection {
  background-color: var(--black);
  color: var(--white);
  text-decoration-color: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: hsl(232deg 19% 11%);
    --black: hsl(47deg 9% 98%);
    --codebg: rgb(53, 69, 89);
  }
}

a {
  transition: all 0.1s;
  outline: 0px solid var(--white);
  border-radius: 0px;
  color: var(--black);
}

a:hover {
  outline: 2px solid var(--black);
  border-radius: 3px;
  color: var(--white);
  background-color: var(--black);
}

body {
  padding: 3rem 0rem;
  margin: 0 auto;
}

a {
  color: inherit;
}

img {
  object-fit: contain;
}

code,
pre {
  font-family: "Fira Mono", monospace;
  background-color: var(--codebg);
}

code {
  padding: 0px 0.2rem;
}
