html {
  font-size: 16px;
  font-family: system-ui, sans-serif;
  --white: white;
  --black: black;
  --codebg: #e3e7e3;
  background-color: var(--white);
  color: var(--black);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: hsl(232deg 19% 11%);
    --black: hsl(47deg 9% 98%);
    --codebg: rgb(53, 69, 89);
  }
}

a {
  transition: all 0.1s;
  border: 0px solid var(--white);
  border-radius: 0px;
  margin: 0px;
  color: var(--black);
}

a:hover {
  border: 2px solid var(--black);
  border-radius: 3px;
  margin: -1px;
  color: var(--white);
  background-color: var(--black);
}

body {
  padding: 3rem 0rem;
  margin: 0 auto;
}

a {
  color: inherit;
}

img {
  object-fit: cover;
}

.svg-inline--fa {
  width: 1rem !important;
  padding-right: 1rem;
}

code,
pre {
  font-family: "Fira Mono", monospace;
  background-color: var(--codebg);
}

code {
  padding: 0px 0.2rem;
}

/* homepage */

.homepage {
  margin: 0 auto;
  width: 24rem;
}

.card {
  padding: 0 3rem 3rem 3rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 770px) {
  .homepage {
    width: 48rem;
  }

  .card {
    flex-direction: row;
    padding: 3rem;
  }

  .card:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.card i {
    width: 2rem;
    display: inline-block;
}

.card img {
  height: 14rem;
  width: 14rem;
}

.card ul {
  padding-inline: 0;
  list-style: none;
}

.card li {
  line-height: 2;
}

.card h1, .card h2 {
    margin-top: 0;
}

/* blog */

.blog {
  max-width: 48rem;
  padding: 1rem;
  margin: 0rem auto 4rem auto;
  overflow: hidden;
  line-height: 1.4;
}

.blog img {
  width: 100%;
  max-width: 30rem;
  display: block;
  margin: 0 auto;
}

hr {
  border-style: solid;
  border-width: 0 0 1px 0;
}

.link-back {
  text-align: center;
}
