<link media="screen and (prefers-color-scheme: dark)" rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/tokyo-night-dark.min.css">
<link media="(prefers-color-scheme: light)" rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<header class="link-back">
    <a href="/">angusjf</a>
</header>
<main class="blog">
    <article>{{content}}</article>
</main>
<script>hljs.highlightAll();</script>
