<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{title}}</title>
    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="canonical" href="{{canonical_url}}" />
    <meta name="description" content="{{description}}" />
    {{extra_meta_tags}}
    <!-- <link rel="sitemap" type="application/xml" href="/sitemap.xml" /> -->
    <link rel="icon" type="image/png" href="https://angusjf.com/favicon.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="/favicon-16x16.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <script
      async
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
    ></script>
  </head>
  <body>
    {{body}}
  </body>
</html>
